<header class="header-wrapper">
    <div class="container">
        <div class="header-left">
            <a class="header-brand" href="@Url.Action("Index", "Home")"></a>
            <a class="header-subtitle" href="@Url.Action("Index", "Home")">体育赛事服务平台</a>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
</header>